* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Antic Slab', serif;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: scroll;
}

.container-main {
  margin: 0;
  max-width: 100%;
  height: 120vh;
}

.topbar {
  max-width: 100%;
  height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.logo {
  max-width: 4vw;
  height: auto;
  margin: 20px 20px;
}

.header {
  font-size: 30px;
}

.tag {
  position: absolute;
  top: 1em;
  left: 10em;
  margin-top: 40px;
}

.container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: 'name name name lock hex rgba delete';
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: space-between;
  text-align: center;
}

.color-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: name;
  font-size: 20px;
  font-weight: bolder;
}

.white {
  color: white;
}

.black {
  color: black;
}

.lock {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: lock;
  border: none;
  outline: none;
  background-color: transparent;
  width: 200px;
  cursor: pointer;
}

.delete {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: delete;
  border: none;
  outline: none;
  background-color: transparent;
  width: 200px;
  cursor: pointer;
}

.color-codes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: bolder;
}

.color-codes #hex {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: hex;
}

.color-codes #rgba {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: rgba;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
}

.random,
.add,
.copy {
  width: 100%;
  outline: none;
  max-height: 10vh;
  padding: 0;
  margin: 10px;
  border: none;
  font-size: 15px;
  border-radius: 2em;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.random:hover,
.add:hover,
.copy:hover {
  -webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

.random:not(:hover),
.add:not(:hover),
.copy:not(:hover) {
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 400ms ease-in-out;
  transition: -webkit-box-shadow 400ms ease-in-out;
  transition: box-shadow 400ms ease-in-out;
  transition: box-shadow 400ms ease-in-out, -webkit-box-shadow 400ms ease-in-out;
}

@media (max-width: 660px) {
  .logo {
    max-width: 10vw;
  }
  .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: space-between;
    text-align: center;
  }
  .color-name {
    font-size: 20px;
    font-weight: bolder;
  }
  .white {
    color: white;
  }
  .black {
    color: black;
  }
  .lock {
    margin: 2em;
    border: none;
    outline: none;
    background-color: transparent;
    width: 200px;
  }
  .color-codes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    font-weight: bolder;
  }
  .color-codes #hex {
    margin: 2em;
  }
  .color-codes #rgba {
    margin: 2em;
  }
}
/*# sourceMappingURL=style.css.map */